<h1>Dashboard | <%= current_user.full_name %></h1>
<hr />
<% if @organizations.blank? %>
    <p>You are not a member of any groups</p>
    <hr />
<% else %>
    <% @organizations.each do |o| %>
        <h4><%= o.name %> (<%= o.membership_type(@current_user) %>)</h4>
        <hr />
    <% end %>
<% end %>
<%= link_to 'Join an organization', :controller => 'organizations', :action => 'join' %> |
<%= link_to 'Create new organization', new_organization_path %>
