<h1>Dashboard | <%= current_user.full_name %></h1>
<h2>Total Balance: <%= number_to_currency @current_user.get_total_balance %></h2>
<hr />
<% if @organizations.blank? %>
    <p>You are not a member of any groups</p>
    <hr />
<% else %>
    <% @organizations.each do |o| %>
        <h4><%= link_to "#{o.name}", {controller: 'organizations', action: 'view_organization_charges', id: o.id} %> (<%= o.membership_type(@current_user) %>)</h4>
        <p>Balance: <%= number_to_currency @current_user.get_balance_for_organization o %></p>
				<%= link_to 'Make Payment', 			{controller: 'organizations', action: 'create_payment', id: o.id} %><br/>
        <% if o.is_admin(@current_user) %>
          <h5>Admin Controls:</h5>
            <%= link_to "View Pending Payments (#{o.payments.where(confirmed:false).count.to_s})", {:controller => 'organizations', :action => 'pending_payments', :id => o.id} %> <br />
          <%= link_to 'Create Charge', 		{:controller => 'organizations', :action => 'create_charge', :id => o.id} %> |
        	<%= link_to 'Edit Admins', 			{:controller => 'organizations', :action => 'edit_admins', :id => o.id} %> <br/>
					<%= link_to 'Create New Group', {controller: 'organizations', action: 'create_group', id: o.id } %> | 
					<%= link_to 'View Groups', 			{controller: 'organizations', action: 'view_groups', id: o.id} %>

        <% end %>
        <hr />
    <% end %>
<% end %>
<%= link_to 'Join an organization', :controller => 'organizations', :action => 'join' %>
<%= link_to 'Create new organization', new_organization_path %>
