<h1><%= @organization.name%> | Edit Organization Information</h1>
<%= link_to "Return to Admin Controls", { controller: 'organizations', action: 'organization_admin' } %>
<br>
<br>

<form method="POST" action="<%= url_for :controller => :organizations, :action => :edit_organization_information %>">

    <div class="form-group">
        <label for="first_name">Name:</label><br />
        <input type="text" class="form-control" name="name" value="<%= @organization.name %>">
    </div>
    
    <div class="form-group">
        <input type="submit" id="submit_button" class="btn btn-primary" value="Submit">
        <input type="reset" class="btn btn-primary" value="Reset">
        <input type="submit" id="cancel_button" class="btn btn-primary" value="Cancel">
        <input type="hidden" id="validate_submit" name="validate_submit" value="false">

    </div>
    <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
    
</form>

<% content_for :inline_js do %>
<script>
$('#submit_button').click(function() {
    $("#validate_submit").val("true");
});
</script>
<% end %>