<h1><%= @org.name %> | Membership</h1>
<%= link_to "Return to Admin Controls", { controller: 'organizations', action: 'organization_admin' } %>
<br>
<br>
<!-- <table border="1"> -->
<table class="table table-striped">
	<tr>
		<th>NAME</th>
		<th>EMAIL</th>
		<th>ASSOCIATED GROUPS</th>
		<th>BALANCE</th>
		<th>ACTION</th>
	</tr>
	<% @members.each do |member| %>
	<tr>
		<td><%= link_to "#{member.full_name}", {controller: 'organizations', action: 'admin_view_org_member', mid: "#{member.id}", oid: "#{@org.id}"} %></td>
		<td><%= member.email %></td>
		<% @groups = member.groups %>
		<td> <% @groups.each do |group|%>
			 	<%= group.name %><% if group != @groups.last %>, 
			 	<% end %>
		 	<% end %>
		 	<% if @groups.empty? %>N/A
		 	<% end %>
		 </td>
		<td> $<%= "%.2f" % member.get_balance_for_organization(@org)%> </td>
		<td><%= link_to "Remove from organization", {controller: 'organizations', action: 'admin_remove_user', mid: "#{member.id}"} %></td>
	</tr>
	<% end %>
</table>