<h1>Groups for <%= @org.name %></h1>
<%= link_to "Return to Dashboard", { controller: 'welcome', action: 'dashboard' } %>
<br/><br/>

<table class="table table-striped">
	<th>Group Name</th>
	<th>Actions</th>

	<% @groups.each do |group| %>
	<tr>
		<td><%= group.name %></td>
		<td><%= link_to("Show Members", {controller: 'groups', action: 'show', id: group.id}) %> | 
			<%= link_to("Edit Group", {controller: 'groups', action: 'edit', id: group.id}) %></td>
	</tr>
	<% end %>
</table>